[Desktop Entry]
Name=Discord Updater
Encoding=UTF-8
Exec=sudo discord-updater --gui
Icon=discord-updater.png
StartupNotify=false
Terminal=true
Type=Application
Categories=game
Comment=Outil de mise à jour pour Discord
