Package: discord-updater
Version: 1.0
Architecture: amd64
Maintainer: Chaxiraxi <ChaxiraxiCH@protonmail.com>
Description: Unofficial Discord client updater
Homepage: https://github.com/Chaxiraxi/Discord-Updater/
Pre-Depends: apt, wget, zenity
Copyright: Apache License 2.0
